$font-stack:    Helvetica, sans-serif;
$bg-primary: rgb(255, 255, 255);
$margin-gen: 20%;
$margin-con: 10%;
$border-test: s;
$regular-font: 'IBM Plex Mono', monospace;
$second-font: 'IBM Plex Sans', sans-serif;
$w-size-ph: 480px;
$h-size-ph: 364